@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
}

.cards {
    display: flex;
    width: 90%;
    margin: 2em auto;

    justify-content: space-around;
    flex-wrap: wrap;
}

.cards > div {
    margin: 2em;
    height: 200px;
}

.card {
    background-color: grey;
    color: white;

    min-width: 295px;
    min-height: 174px;
    max-width: 295px;
    max-height: 174px;
    border-radius: 16px;
    padding: 1.7em 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .upper-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card .type {
    font-weight: bold;
}
.card .brand img {
    width: 60px;
}

.card.paypal .brand img {
    width: auto;
    height: 40px;
}

.card .bottom-card {
    display: flex;
    flex-direction: column;
}

.card .holder {
    color: rgba(255,255,255, 0.75)
}

.card .card-number {
    font-weight: bold;
}

.card.visa {
    background: linear-gradient(to top right, #52B6FE, #6154FE);
}

.card.mastercard {
    background: linear-gradient(to top right, #042843, #726E9E);
}

.card.paypal {
    background: linear-gradient(to top right, #5BA0FF, #89F7FE);
}

.card.maestro {
    background: linear-gradient(to top right, #042843, #00a2e5);
}


.cards .card:nth-child(1) {
    position: relative;
    z-index: 3;
}

.cards .card:nth-child(2) {
    position: relative;
    z-index: 2;
    -webkit-transform:  translateY(-95%)/*, scaleX(95%)*/;
    transform: translateY(-95%);
    opacity: 0.7;
}

.cards .card:nth-child(3) {
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(-95%)/*, scaleX(90%)*/;
    transform: translateY(-190%);
    opacity: 0.3;
}

@media only screen and (max-width: 988px) {
    .cards {
        width: 100%;
        margin: 1em auto;
    }
}