@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Maven Pro', sans-serif;
}

body.dark {
    background: #222;
    color: white;
}

.toggleLightMode:hover {
    cursor: pointer;
}

header {
    text-align: center;
}

.searchCountry {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5em;
}

.flag {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    border: 2px solid #fff;
    transition: 0.5s linear;
}

body.dark .flag {
    border: 2px solid #222;
}

.flag > img {
    width: 128px;
}

.flag > span {
    text-transform: capitalize;
}

.flag:hover {
    border: 2px solid #222;
    cursor: pointer;
}

body.dark .flag:hover {
    border: 2px solid white;
    cursor: pointer;
}

body.dark .flag.incorrect,
.flag.incorrect {
    border: 2px solid #FF0000;
}

body.dark .flag.correct,
.flag.correct {
    border: 2px solid #00FF00;
}