@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: white;
    background: #202020;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;

    font-family: 'Maven Pro', sans-serif;
}

.column-nav {
    position: fixed;
    width: 15%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    background: #000;
}

.column-nav > a {
    font-size: 1.2em;
    padding: 1.5em 0;
    text-align: center;

    color: white;
    text-decoration: none;
}

.column-content {
    margin-left: 15%;
    width: 85%;
}

.hero {
    position: fixed;
    padding: 4.5em;
    text-align: center;

    height: 30vh;
    background: #202020;
}

.hero p {
    font-size: 1.33em;
}

.hero .email {
    font-weight: bold;
    text-decoration: underline;
}

.verses {
    margin-top: 30vh;
}

.verses > article {
    height: 70vh;
    text-align: center;
}

.verses > article > h2 {
    font-size: 2em;
    margin-bottom: 2em;
}

.verses > article p {
    font-size: 1.33em;
    margin-bottom: 0.5em;
}

