@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 6.25em;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../assets/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 0.625em 2em;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5em 6.25em;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 1.25em 4em;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 .9em;
    text-decoration: none;
    color: #000;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 2em;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-right: 2em;
}

.contentBx h3 {
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

.w50 {
    min-width: 50%;
}

.w50.image {
    text-align: center;
}

.about img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.skills {
    background: #111;
}

.heading.white {
    color: #fff;
}

.skills .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skillBx {
    padding: 2.5em 1.5em;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.skills .content .skillBx:hover {
    background: #2196f3;
}

.skills .content .skillBx img {
    max-width: 80px;
    filter: invert(1);
}

.skills .content .skillBx i {
    font-size: 80px;
}

.skills .content .skillBx h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 1.25em;
}

.work .content img {
    max-width: 100%;
}

.contact {
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.625em;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 1.5em;
    padding: 0.9em;
    font-size: 1em;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}
.contactInfoBx {
    position: relative;
}
.contactInfoBx .box {
    position: relative;
    padding: 1.25em 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 1.25em;
    font-size: 1em;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0.625em;
}

/* Mobile */
@media (max-width: 991px) {
    header,
    header.sticky {
        background: #fff;
        padding: 1.25em 3.125em;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 5em;
        left: -100%;
        display: block;
        padding: 6.25em 3.125em;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 1.5em;
        margin: 0.625em;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(../assets/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }
    .toggle.active {
        background: url(../assets/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    section {
        padding: 6.25em 3.125em;
    }
    .banner {
        padding: 9.375em 3.125em 6.25em;
    }
    .banner h2 {
        font-size: 1.5em;
    }
    .banner h3 {
        font-size: 1em;
    }
    .btn {
        margin-top: 0.625em;
        padding: 0.625em 1.25em;
        font-size: 1em; 
    }
    .heading h2 {
        font-size: 1.5em;
    }
    .contentBx h3 {
        font-size: 1.25em;
    }
    .content {
        flex-direction: column;
    }
    .w50 {
        margin-bottom: 1.25em;
    }
    .skills .content .skillBx {
        width: 100%;
        margin: 0.625em;
    }
    .work .content .workBx {
        width: 100%;
        padding: 0.625em;
    }
    .contactInfo {
        margin: 1.25em 0;
    }
}

@media (max-width: 600px) {
    header,
    header.sticky {
        padding: 1.25em 1.25em;
    }

    .banner {
        padding: 9.375em 1.25em 6.25em;
    }
    section {
        padding: 6.25em 1.25em;
    }
}