@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1vw;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    border-bottom: 1px solid rgba(255,255,255,0.1);

    display: flex;
    justify-content: space-between;

    padding: 1.2rem 10rem;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);

    z-index: 100;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

/* NAVBAR */

nav > header > a {
    font-size: 1.1rem;
    font-weight: bold;
}

nav > .menu > a {
    margin: 0 1rem;
    padding: .4rem 0;

    border-bottom: 2px solid transparent;
    
    transition: .2s linear;
}

nav > .menu > a.active {
    border-bottom: 2px solid white;
}

nav > .menu > a:hover {
    border-bottom: 2px solid #4f81f3;
}

body > section {
    padding: 6rem 10rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > section:not(.banner) > h1 {
    display: inline-block;
    border-bottom: 2px solid #4f81f3;
    font-size: 2.3rem;
    margin-bottom: .8rem;
}

body > section:not(.banner) > h5 {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    font-style: italic;
}

body > section:nth-child(odd) {
    background: #111;
}

body > section:nth-child(even) {
    background: black;
}

/* BANNER */

section.banner {
    height: 100vh;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.banner > h1 {
    text-align: center;
    font-size: 5rem;
}

section.banner > h1 > span.name {
    background: linear-gradient(290deg, #FC00FF, #00DBDE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.banner > p {
    /*font-size: .75rem;*/
    font-size: 1.2rem;
    width: 45%;
    text-align: center;
    color: grey;
    margin-top: 1.5rem;
}

section.banner > .buttons {
    margin-top: 4rem;
}

section.banner > .buttons > a {
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: white;
    padding: .7em 2em;
    margin: 0 .6rem;
    border-radius: 8px;
}

section.banner > .buttons > .primary {
    background: #4f81f3;

    transition: background .2s linear;
}

section.banner > .buttons > .primary:hover {
    background: #3a71f1;
}

section.banner > .buttons > .secondary {
    background: transparent;
    border: 2px solid #4f81f3;

    transition: background .2s linear;
}

section.banner > .buttons > .secondary:hover {
    background: #4f81f3;
}

/* ABOUT ME */

section.about > .content {
    display: flex;
    justify-content: space-around;

    margin-top: 4rem;
}

section.about > .content > * {
    width: 40%;
}

section.about > .content > .image > img {
    width: 100%;
    border-radius: 12px;
}

section.about > .content > .text > h2 {
    font-size: 2.2rem;
}

section.about > .content > .text > p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

/* SKILLS */

section.skills > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}

section.skills > .content > .skill {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #111;
    padding: 3rem;
    border-radius: 12px;
    text-align: center;
    margin: 1rem;
    width: 400px;
    transition: background-color .3s ease;
}

section.skills > .content > .skill:hover {
    background: #4f81f3;
}

section.skills > .content > .skill > i {
    font-size: 5rem;
    margin-bottom: .5rem;
}

/* WORKS */

section.works > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

section.works > .content > .work {
    overflow: hidden;

    width: 20vw;
    height: 14vw;

    margin: 2rem;

    border-radius: 12px;
}

section.works > .content > .work > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 14vw;
}

section.works > .content > .work > .link {

    background: #4f80f3d2;
    backdrop-filter: blur(1px);

    font-size: 2rem;
    transform: translateY(0);
    transition: transform .4s ease-in;
}

section.works > .content > .work:hover > .link {
    transform: translateY(-100%);
}

section.works > .content > .work > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* CONTACT */

section.contact > .content > address {
    font-style: normal;
}

section.contact > .content > address > h4 {
    color: #4f81f3;
    margin-top: 1rem;
    margin-bottom: .15rem;
}

/* COPYRIGHT */

section.copyright {
    padding: 2rem;
    color: grey;
}

@media screen and (max-width: 980px) {
    html {
        font-size: 1.5vw;
    }
}

