@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-size: 20px;
    
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    border-bottom: 1px solid rgba(255,255,255,0.1);

    display: flex;
    justify-content: space-between;

    padding: 2vh 10vw;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

/* NAVBAR */

nav > .menu > a {
    margin: 0 1em;
}

nav > .menu > a.active {
    border-bottom: 2px solid white;
}

nav > .menu > a:hover {
    border-bottom: 2px solid #4f81f3;
}

body > section {
    height: 100vh;
}

body > section:nth-child(odd) {
    background: #111;
}

body > section:nth-child(even) {
    background: black;
}

/* BANNER */

section.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.banner > h1 {
    text-align: center;
    font-size: 4.5rem;
}

section.banner > h1 > span.name {
    background: linear-gradient(290deg, #FC00FF, #00DBDE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.banner > p {
    font-size: 1rem;
    width: 40vw;
    text-align: center;
    color: grey;
    margin-top: 1.5em;
}

section.banner > .buttons {
    margin-top: 4em;
}

section.banner > .buttons > a {
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: white;
    padding: .7rem 2rem;
    margin: 0 .8em;
    border-radius: 8px;
    font-weight: 500;
}

section.banner > .buttons > a:hover {
    cursor: pointer;
}

section.banner > .buttons > .primary {
    background: #4f81f3;
}

section.banner > .buttons > .primary:hover {
    background: #3a71f1;
}

section.banner > .buttons > .secondary {
    background: transparent;
    border: 2px solid #4f81f3;
}

section.banner > .buttons > .secondary:hover {
    background: #4f81f3;
}

/* ABOUT ME */