@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --normal: #9fa19f;
  --fire: #e62829;
  --water: #2980ef;
  --electric: #fac000;
  --grass: #3fa129;
  --ice: #3fd8ff;
  --fighting: #ff8000;
  --poison: #8f41cb;
  --ground: #915121;
  --flying: #81b9ef;
  --psychic: #ef4179;
  --bug: #91a119;
  --rock: #afa981;
  --ghost: #704170;
  --dragon: #5061e1;
  --dark: #50413f;
  --steel: #60a1b8;
  --fairy: #ef71ef;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". Genus ." "Species Sprite Stats" ". . .";
}

.Genus {
  grid-area: Genus;
}
.Genus #name {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  font-size: 4rem;
  text-align: center;
}
.Genus #genus {
  text-align: center;
}

.Sprite {
  grid-area: Sprite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". Buttons" "HP_Label HP" "Attack_Label Attack" "Defence_Label Defence" "SPAttack_Label SpAttack" "SPDefence_Label SpDefence" "Speed_Label Speed" "Total_Label Total";
  grid-area: Stats;
}

.Buttons {
  grid-area: Buttons;
}

.HP_Label {
  grid-area: HP_Label;
}

.Attack_Label {
  grid-area: Attack_Label;
}

.Defence_Label {
  grid-area: Defence_Label;
}

.SPAttack_Label {
  grid-area: SPAttack_Label;
}

.SPDefence_Label {
  grid-area: SPDefence_Label;
}

.Speed_Label {
  grid-area: Speed_Label;
}

.Total_Label {
  grid-area: Total_Label;
}

.HP {
  grid-area: HP;
}

.Attack {
  grid-area: Attack;
}

.Defence {
  grid-area: Defence;
}

.SpAttack {
  grid-area: SpAttack;
}

.SpDefence {
  grid-area: SpDefence;
}

.Speed {
  grid-area: Speed;
}

.Total {
  grid-area: Total;
}

.Species {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 1rem;
  grid-auto-flow: row;
  grid-template-areas: "ID_Label ID" "Height_Label Height" "Weight_Label Weight" "Abilities_Label Abilities" "Type_Label Type" "Form_Label Form";
  grid-area: Species;
}

.ID_Label {
  grid-area: ID_Label;
}
.ID_Label > h2 {
  text-align: right;
}

.Height_Label {
  grid-area: Height_Label;
}
.Height_Label > h2 {
  text-align: right;
}

.Weight_Label {
  grid-area: Weight_Label;
}
.Weight_Label > h2 {
  text-align: right;
}

.Abilities_Label {
  grid-area: Abilities_Label;
}
.Abilities_Label > h2 {
  text-align: right;
}

.Type_Label {
  grid-area: Type_Label;
}
.Type_Label > h2 {
  text-align: right;
}

.Form_Label {
  grid-area: Form_Label;
}
.Form_Label > h2 {
  text-align: right;
}

.ID {
  grid-area: ID;
}

.Height {
  grid-area: Height;
}

.Weight {
  grid-area: Weight;
}

.Abilities {
  grid-area: Abilities;
}

.Type {
  grid-area: Type;
}
.Type > #type {
  display: flex;
}
.Type > #type > span {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  padding: 0.3rem 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.Type > #type > span > img {
  margin-left: 1rem;
  height: 4vh;
}
.Type > #type > span.normal {
  background-color: var(--normal);
  box-shadow: 0 0 20px 0 var(--normal);
}
.Type > #type > span.fire {
  background-color: var(--fire);
  box-shadow: 0 0 20px 0 var(--fire);
}
.Type > #type > span.water {
  background-color: var(--water);
  box-shadow: 0 0 20px 0 var(--water);
}
.Type > #type > span.electric {
  background-color: var(--electric);
  box-shadow: 0 0 20px 0 var(--electric);
}
.Type > #type > span.grass {
  background-color: var(--grass);
  box-shadow: 0 0 20px 0 var(--grass);
}
.Type > #type > span.ice {
  background-color: var(--ice);
  box-shadow: 0 0 20px 0 var(--ice);
}
.Type > #type > span.fighting {
  background-color: var(--fighting);
  box-shadow: 0 0 20px 0 var(--fighting);
}
.Type > #type > span.poison {
  background-color: var(--poison);
  box-shadow: 0 0 20px 0 var(--poison);
}
.Type > #type > span.ground {
  background-color: var(--ground);
  box-shadow: 0 0 20px 0 var(--ground);
}
.Type > #type > span.flying {
  background-color: var(--flying);
  box-shadow: 0 0 20px 0 var(--flying);
}
.Type > #type > span.psychic {
  background-color: var(--psychic);
  box-shadow: 0 0 20px 0 var(--psychic);
}
.Type > #type > span.bug {
  background-color: var(--bug);
  box-shadow: 0 0 20px 0 var(--bug);
}
.Type > #type > span.rock {
  background-color: var(--rock);
  box-shadow: 0 0 20px 0 var(--rock);
}
.Type > #type > span.ghost {
  background-color: var(--ghost);
  box-shadow: 0 0 20px 0 var(--ghost);
}
.Type > #type > span.dragon {
  background-color: var(--dragon);
  box-shadow: 0 0 20px 0 var(--dragon);
}
.Type > #type > span.dark {
  background-color: var(--dark);
  box-shadow: 0 0 20px 0 var(--dark);
}
.Type > #type > span.steel {
  background-color: var(--steel);
  box-shadow: 0 0 20px 0 var(--steel);
}
.Type > #type > span.fairy {
  background-color: var(--fairy);
  box-shadow: 0 0 20px 0 var(--fairy);
}

.Form {
  grid-area: Form;
}/*# sourceMappingURL=guess.css.map */