@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Maven Pro', sans-serif;
}

body {
    font-size: 20px;
    background: black;
}

body > section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIRST SECTION */

.netflix {
    position: relative;
    width: 360px;
    height: 520px;
    overflow: hidden;
    transform: scale(.8);
}

.netflix::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 120px;
    background: #000;
    z-index: 2;
    border-radius: 50%;
    transform: scaleX(1.5);
}

.netflix::after,
.logo > h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000, #000);
    z-index: 3;
    animation: netflix-animation 2s linear forwards;
}

@keyframes netflix-animation {
    0% {
        right: 0;
    }
    100% {
        right: -400%;
    }
}

.netflix span {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    background: #fff;
}

.netflix span:nth-child(1) {
    background: #b1060f;
    left: 0;
}

.netflix span:nth-child(2) {
    background: #e50913;
    left: 0;
    z-index: 1;
    transform-origin: top left;
    transform: skew(24.8deg);
    box-shadow: 0 0 40px rgba(0,0,0,1);
}

.netflix span:nth-child(3) {
    background: #b1060f;
    right: 0;
}

.logo > h3 {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    overflow: hidden;
}