---
console.log("Esto se ejecuta en tu terminal y no el navegador")
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro Index</title>
</head>
<body>
  <h1>Astro</h1>
</body>
</html>