---
// Layout
import Layout from '@/layouts/Layout.astro'

// Componentes
import SectionContainer from '@/components/SectionContainer.astro'
import Hero from '@/components/Hero.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'
import About from '@/components/About.astro'

// Icons
import WorkIcon from '../components/icons/Work.astro'
import CodeIcon from '../components/icons/Code.astro'
import UserShareIcon from '../components/icons/UserShare.astro'
---

<Layout title="Porfolio of Visama - Web Developer and Programmer with 3 years of experience" description="Hire visama to create your web or mobile application. Web Developer.">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				</slot>
			</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experience">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<WorkIcon class="size-8" />
					Experience
				</h2>
				<Experience />
			</SectionContainer>
			<SectionContainer id="projects">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<CodeIcon class="size-8" />
					Projects
				</h2>
				<Projects />
			</SectionContainer>
			<SectionContainer id="about">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<UserShareIcon class="size-8" />
					About me
				</h2>
				<About />
			</SectionContainer>
		</div>
	</main>
</Layout>
