---
const personalImageAlt = "Víctor Sánchez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      My name is Víctor Sánchez Martínez but my friends call me visama. I started programming at 14. <strong>Since then I never stopped learning about technology.</strong>
    </p>
    <p>
      I have worked with start-ups like <strong>Biyectiva and their proyect "ConnecTVty"; Stampwallet and Puntje</strong>. I later worked at Imaginanet developing new proyects and taking more responsabilities which made me improve greatly as developer.
    </p>
    <p>
      I love learning languages and travelling; books like The Lord of the Rings and Harry Potter; recently started playing the guitar although there is still much practice I need.
    </p>
  </div>

</article>