---
import SunIcon from './icons/SunIcon.astro'
import MoonIcon from './icons/MoonIcon.astro'
import SystemIcon from './icons/SystemIcon.astro'

const THEMES = ["Light", "Dark", "System"]
---
<div class="relative ml-1 mr-1">
</div>