<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Templates</title>
</head>
<body>
    <!-- Still Work in Progress-->
    <!-- 
        This is a section I want to do when I find free time and I have an 
        idea of a template for a website of any different kind (Store online, App Website, Band Website, etc) 
    -->
    <h1>List of custom templates</h1>
    <ul>
        <li><a href="./template1.html">Template #1</a></li>
    </ul>
</body>
</html>