---
// Layout
import Layout from '@/layouts/Layout.astro'

// Componentes
import SectionContainer from '@/components/SectionContainer.astro'
import Hero from '@/components/Hero.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'
import About from '@/components/About.astro'

// Icons
import WorkIcon from '@/components/icons/Work.astro'
import CodeIcon from '@/components/icons/Code.astro'
import UserShareIcon from '@/components/icons/UserShare.astro'
---

<Layout title="Porfolio de Víctor - Programador Web con 3 años de experiencia" description="Contráteme para crear sus aplicaciones web o móvil">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				</slot>
			</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experience">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<WorkIcon class="size-8" />
					Experiencia
				</h2>
				<Experience />
			</SectionContainer>
			<SectionContainer id="projects">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<CodeIcon class="size-8" />
					Proyectos
				</h2>
				<Projects />
			</SectionContainer>
			<SectionContainer id="about">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<UserShareIcon class="size-8" />
					Sobre mí
				</h2>
				<About />
			</SectionContainer>
		</div>
	</main>
</Layout>